body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e0f7e0; /* Fundo verde claro */
}

.container {
    max-width: 800px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #006400; /* Contorno verde escuro */
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #006400; /* Bordas verdes escuras */
}

th, td {
    padding: 10px;
    text-align: left;
}